# Python files #
################
# setup.py working directory
/build
# sphinx build directory
/_build
# setup.py dist directory
/dist
/doc/build
/doc/cdoc/build
/MANIFEST
# Egg metadata
*.egg-info
/.eggs
# The shelf plugin uses this dir
./.shelf
# coverage reports
.coverage
# ipython files
**/.ipynb_checkpoints
__pycache__

# pytest #
##########
/.pytest_cache

# Conda env #
#############
/envs

# VSCODE #
##########
.vscode
